*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.header{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #9898c2;
  color: rgb(185, 169, 169);
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
body{
    height: 100vh;
background-size: cover;
background-color: #FFFFFF;
}
.bride{
    font-size: 20px;
}
.bride:hover{
    color: yellow;
    text-decoration: dotted;
}
.headercontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 6px;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.navleft{
    display: flex;
    justify-content: space-between;
    align-items: center;
gap: 2rem;
}
.navbar{
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.navlink{
color: rgb(229, 90, 14);
font-size: 20px;
}
.navlink:hover{
    text-decoration:underline;
    color: rgb(229, 224, 224);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.navright{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    padding-top: 10px;
}
.icon{
    width: 30px;
    padding-top: 10px;
}
.button{
    border-radius:19px ;
    background-color: rgb(222, 129, 151);
padding: 9px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
color: cornflowerblue;
}
.button:hover{
    color: rgb(33, 186, 186);
    text-decoration: underline;
}
.box2{
    border-radius: 19px;
    background-color: rgb(224, 232, 229);
    padding: 10px;
    font-size: 20px;
}
.box2:hover{
    text-decoration: underline;
    color: rgb(176, 176, 186);
}
.middle{
    background-image: url(weddingplanner.jpg);
    height: 800px;
    background-size: cover;
}
.middlecontent{
    display: flex;
    flex-direction: column;
}
.main{
    color: white;
    font-size: 80px;
    max-width: 800px;
    padding-left: 140px;
    padding-top:300px ;
}
.start{
    border-radius: 30px;
    font-size:  27px ;
    color: white;
    background-color: rgb(69, 44, 213);
    padding: 27px;
}
.buttonx{
    padding-left:170px ;
    padding-top: 70px;
}
.start:hover{
    color: darkorange;
    text-decoration: aquamarine;
    text-decoration: underline;
}
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .png{
        max-width: 90%;
        padding-top: 10px;
    }
    .heading{
        max-width: 800px;
        font-size: 40px;
        color: rgb(98, 83, 111);
    }
    .cards{
        max-width:80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        background-color: rgb(234, 221, 221);
        backdrop-filter: blur(50px);
        box-shadow: 0 0 100px rgba(0, 0,0, .75);
        gap: 2rem;
        height: 500px;
        border-radius: 20px;
        margin-top: 2rem;
    }
    .cards:hover{
        box-shadow: 0 0 10px rgba(198, 10, 10, 0.75);
    }
    .img3{
        width: 450px;
        padding-right: 60px;
        border-radius: 10px;
    }
    .left{
display: flex;
flex-direction: column;
align-items: center;
}
.para{
    max-width: 350px;
    padding-left: 50px;
    font-size: 21px;
    font-weight: lighter;

}
.luck{
font-size: 60px;
margin-top: 20px;
padding-left: 10px;
}
.para2{
    margin-top: 4px;
    font-size: 18px;
    display: flex;
    justify-content: start;
    padding-left: 20px;
}
.para3{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.discover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 6rem;
}
.name{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.div{
    border-radius: 40px;
    background-color: rgb(182, 73, 83);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:200px;
    padding: 25px;
font-size:18px;
margin-top: 5rem;
box-shadow: 0 0 10px rgba(0, 0,0, .75);
}
.div:hover{
    color: tomato;
    text-decoration: underline;
    box-shadow: 0 0 10px rgba(198, 10, 10, 0.75);
}
.div::after{
    color: black;
}
.country{
    margin: 0 auto;
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(59, 51, 51);
}
.cards2{
    display: flex;
flex-direction: column;
    gap: 2rem;
    max-width: 80%;
    margin: 0 auto;
}
.card4{
    max-width:1200px;
    border-radius: 19px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 1.1rem;
  margin-top: 3rem;

}
.p8{
    height: 80%;
   border-top-left-radius: 19px;
   border-top-right-radius: 19px;
   width: 100%;
   box-shadow: 0 0 10px rgba(197, 190, 190, 0.75);
}
.a{
    border: 1px solid;
    height: 400px;
    border-radius:19px ;
    width: 25%;
    box-shadow: 0 0 100px rgba(41, 39, 39, 0.75);

}
.a a{
    padding-left:20px;
   padding-top:  32px;
   color: rgb(35, 34, 32);
   font-size: 30px;
   flex-direction: column;
   justify-content: start;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.a a:hover{
    color: rgb(24, 24, 219);
 
    text-decoration: underline;
}
.cardb{
    max-width:1200px;
    border-radius: 19px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 1.1rem;
  margin-top: rem;
}
.p9{
    height: 80%;
   border-top-left-radius: 19px;
   border-top-right-radius: 19px;
   width: 100%;
   box-shadow: 0 0 10px rgba(35, 34, 34, 0.75);
}
.a1{
    border: 1px solid;
    height: 400px;
    border-radius:19px ;
    width: 25%;
    box-shadow: 0 0 30px rgba(0, 0,0, .75);
}
.a1 a{
    padding-left:20px;
   padding-top:  32px;
   color: rgb(35, 34, 32);
   font-size: 30px;
   flex-direction: column;
   justify-content: start;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 6rem;
}
.check1{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-items: center;
    background-size: cover;
    margin-top: 3rem;
}
.q1{
    text-align: center;
    font-size: 40px;
}